// ------------------------------ //
	//Color Libraries
// ------------------------------ //
$copy-color: #444444;
$header-color: #222222;
$purple: #2D1547;
	$purple-copy: #3E1D62;
	$dark-purple: #170826;
	$light-purple: #442662;
$green: #609C86;
	$green-hover: #91BBAB;
$brown: #AE9177;
$border-color: #3E1D62;
$charcoal: #333333;

$white: #ffffff;
$orange: #EE795C;
$light-grey: #DDDDDD;
$lighter-grey: #7A7A7A;
$lightest-grey: #CECECE;
$grey: #878787;
	$grey-bg: #728592;
$medium-grey: #626262;
$dark-grey: #4A4A4A;
$tan: #F9FBF2;
$blue: #64B3E7;
	$blue-bg: #719BB7;
	$blue-hover: #97CCEF;

// ------------------------------ //
	//Fonts
// ------------------------------ //
$base-font-family: 'Raleway', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.56;