.contact-info {

    &__box {
        max-width: 100%;
        // margin: auto;
        padding: 1.4rem 1.2rem;
        background: #222;
        border: 3px solid $white;
        border-radius: 3px;

        .underline {
            width: 100%;
            height : 1px;
            margin: .6rem 0;
            background: transparent linear-gradient(90deg, #777777 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
        }
    }

    &--header {
        color: $gray-600;
        margin-bottom: .3rem;
    }

    &--contact,
    &--social {
        padding: .5rem;
    }

}
