.contact-info {

    &--header {
        font-size: 16px;
        color: $gray-600;
        margin-bottom: .3rem;
        text-transform: uppercase;
    }

    &--contact,
    &--social {
        padding: .5rem;
    }

    .icon {
      color: $white;

      &:hover {
        color: $primary;
        transition: .1s;
      }
    }
}
