.job-preview {
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
    border: 3px solid $white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s border ease-in;
    text-align: left;
    
    .card {
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

    &:focus {
        box-shadow: 0px 0px 0px 2px #000,0px 0px 0px 5px $primary;
    }

    &:hover {
        border: 3px solid $primary;
        transition: 0.2s border ease-in;
        .arrow {
            background-color: $primary;
            color: white;
            transition: 0.2s background-color ease-in;
            .fa-arrow-right {
                transform: translateX(3px);
                transition: 0.2s transform ease-in;
            }
        }
    }

    .job-header {
        
        background: $white;
        text-decoration: none;
        padding-right: 2.4rem;

        @include media-breakpoint-up(md) {
            flex: 8;
            padding-right: 2.4rem;
            --notchSize: 32px;

            clip-path: polygon(0px 0px, calc(100% - var(--notchSize)) 0.00%, 100% 100%, 0px 100%);
        }

        @include media-breakpoint-up(lg) {
            flex: 7;
        }

        @include media-breakpoint-up(xl) {
            flex: 5;
        }

        .title,
        .date {
            margin: 0;
            color: #222;
        }
        .date {
            font-weight: 300;
        }

        .icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #222;
            font-size: 25px;

            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
    .content-container {
        background: #222;
    }

    .content {

        @include media-breakpoint-up(md) {  
            // max-width: 80.5rem;
            flex: 27;
        }

        .description {
            margin: 0;
            font-weight: 300;
            line-height: 18px;
        }

    }

    .arrow {
        display: none;
        justify-content: center;
        align-items: center;
        color: $primary_gray;
        transition: 0.2s background-color ease-in;

        .fa-arrow-right {
            transform: translateX(0);
            transition: 0.2s transform ease-in;
        }

        @include media-breakpoint-up(md) {
            display: flex;
            flex: 1;
            background: $white;
        }

    }
}