.job-preview {
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
    border: 3px solid $white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
    .card {
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

    .header {
        
        background: $white;
        text-decoration: none;


        @include media-breakpoint-up(md) {
            flex: 5;
            padding-right: 2.4rem;
            --notchSize: 32px;

            clip-path: polygon(0px 0px, calc(100% - var(--notchSize)) 0.00%, 100% 100%, 0px 100%);
        }

        .title,
        .date {
            margin: 0;
            color: #222;
        }

        .title {
            // letter-spacing: .3px;
            white-space:pre;
            overflow:hidden;
            text-overflow: ellipsis;
        }
        .date {
            font-weight: 300;
        }
    }

    .content {  
        background: #222;

        @include media-breakpoint-up(md) {  
            // max-width: 80.5rem;
            flex: 28;
        }

        .description {
            margin: 0;
            font-weight: 300;
            line-height: 18px;
        }

    }

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: $primary_gray;

        @include media-breakpoint-up(md) {
            flex: 1;
            background: $white;
        }

    }
}