.team-member-card-container {
    height: 100%;
    min-height: 32rem;
    display: flex;

    @include media-breakpoint-up(sm) {
        height: auto;
        padding-bottom: 20px;
        min-height: 36rem;
    }
    
    @include media-breakpoint-up(md) {
        height: auto;
        padding-bottom: 20px;
        min-height: 39em;
    }

    @include media-breakpoint-up(lg) {
        height: auto;
        padding-bottom: 40px;
    }
}

.team-member {
    display: inline-block;
    padding: 0;
    max-width: 33.1rem;

    &.selected {
        position: absolute;
        z-index: 4;
        height: auto;
    }

    .content {
        padding: 1rem 1rem .6rem 1rem;
    }

    &__photo {
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    &__identity {

        .full-name {
            margin-bottom: .25rem;
            font-size: 1.1rem;
        }

        .job-title {
            color: $light_gray;
            font-weight: 300;
        }
    }

    &__contact-info {
        padding-bottom: 20px;
        
        &-item {
            font-size: 1rem;
            margin-bottom: .5rem;
            
            .icon {
                margin-right: .5rem;
            }

        }

    }

    &__bio {

        @include media-breakpoint-down(md) {
            margin-bottom: .5rem;
        }
        
        height: 0;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s max-height ease-in;

        &-content {
            font-size: 14px;
            line-height: 20px;
        }

        &.expanded {
            height: min-content;
            max-height: 1000px;
            transition: 0.3s max-height ease-in;
        }

    }

    .cta {
        display: flex;
        min-width: 9.2rem;
        height: 1.2rem;
        position: absolute;
        bottom: -.2px;
        right: 0rem;
        z-index: 2;
        justify-content: flex-end;
        align-items: center;
        background-color: $white;
        color: #222;
        text-decoration: none;
        cursor: pointer;
        

        --notchSize: 16px;

        clip-path: polygon(var(--notchSize) 0, 100% 0, 100% 100%, 0 100%);

        .icon {
            font-size: 14px;
        }

    }

}