.team-member-card-container {
  height: 100%;
  display: flex;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}

.team-member {
  display: inline-block;
  padding: 0;
  max-width: 33.1rem;
  text-align: left;

  @include media-breakpoint-up(lg) {
    margin-right: 1rem;
  }

  &:hover {
    background-color: #2A2A2A;
    transition: background-color .05s ease-in;
    .cta {
      transition: transform .3s ease-out;
      .icon {
        transform: translateX(3px);
        transition: transform .3s ease-out;
      }
    }
  }

  &.selected {
    position: absolute;
    z-index: 4;
    height: auto;
  }

  .content {
    margin: 1rem 1rem 1.5rem 1rem;
  }

  &__photo {
    overflow: hidden;

    .photo {
      width: 100%;
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }

  &__identity {

    .full-name {
      margin-bottom: .25rem;
      font-size: 1.1rem;
    }

    .job-title {
      color: $light_gray;
      font-weight: 300;
    }
  }

  &__contact-info {

    &-item {
      display: inline-block;
      font-size: 1rem;
      margin-bottom: .4rem;

      .icon {
        margin-right: .5rem;
      }

    }

  }

  &__bio {

    @include media-breakpoint-down(md) {
      margin-bottom: .5rem;
    }

    height: 0;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s max-height ease-in;

    &-content {
      font-size: 14px;
      line-height: 20px; 
      
      p {
        margin: 0;
      }

    } 

    &.expanded {
      height: min-content;
      max-height: 1000px;
      transition: 0.4s max-height ease-in;
    }

  }

  .cta {
    display: flex;
    min-width: 9.2rem;
    height: 1.3rem;
    position: absolute;
    bottom: -.4px;
    right: -.2px;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    background-color: $white;
    color: #222;
    text-decoration: none;
    cursor: pointer;


    --notchSize: 16px;

    clip-path: polygon(var(--notchSize) 0, 100% 0, 100% 100%, 0 100%);

    .text {
      font-size: 16px;
    }

    .icon {
      font-size: 14px;
    }

  }

}