body {
    min-height: 100vh;
    height: auto;
    background: transparent linear-gradient(181deg, #222222 0%, #111111 100%) 0% 0% no-repeat padding-box;
    color: $white;
    opacity: 1;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.content {
  h2 {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 0;
      transform: rotate(45deg);
      width: 35px;
      height: 35px;
      border: 2px solid $white;
      outline-offset: 6px;
      opacity: 0.08;
    }
  }
}

p, ul, ol, a {

  font-weight: 300;

  @include media-breakpoint-down(md) {
    font-size: 14px;
  }

}

ul {
  list-style: none;
  padding: 0;
}

ul li:before {
  content:"•";
  font-size:10pt;
  padding-right: 5px;
}

a {
    text-decoration: none;
    background: rgba(#000000, 0);
    color: $white;

    &:hover {
        text-decoration: none;
    }
}

img {
  max-width: 100%;
}

.fa-icon {
    font-family: "Font Awesome 5 Free";
}

.fab-linked-in {
    &:before {
        content: "\f0e1";
    }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
