.nf-form-cont {
  .nf-before-form-content {
    display: none;
  }
  .nf-form-content {
    color: white;
    padding: 0;
  }
  .nf-form-content .label-above .nf-field-label,
  .nf-form-content .label-below .nf-field-label,
  .nf-form-content .label-hidden .nf-field-label {
    margin-bottom: 5px;
  }
  .nf-form-content label {
    font-size: 16px;
    font-weight: 400;
  }
  .nf-form-content .list-select-wrap .nf-field-element>div,
  .nf-form-content input:not([type=button]),
  .nf-form-content textarea {
    height: 36px;
    border-radius: 3px;
  }
  .nf-error.field-wrap .nf-field-element:after {
    display: none;
  }
  #ninja_forms_required_items,
  .nf-field-container { 
    margin-bottom: 1rem;
  }

  .nf-error .nf-error-msg {
    font-size: 16px;
  }

  .nf-form-content button,
  .nf-form-content input[type=button],
  .nf-form-content input[type=submit] {
    // max-width: 22rem;
    padding: 0 16px;
    border: none;
    border-radius: 5px;
    color: $white;
    background: $primary;
    text-align: left;
    font-weight: 400;
    box-shadow: 0px 3px 16px #0000001A;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: #C37A21;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 0 auto;
      justify-content: center;
    }

}

}