.filters {

    .filter {
        width: max-content;
        padding: 8px 38px;
        border: 1px solid $white;
        border-radius: 50px;
        color: $white;
        letter-spacing: 0px;
        text-transform: uppercase;
        line-height: 18px;
        transition: 0.2s background-color ease-in, 0.2s color ease-in;

        &:hover {
            transition: 0.2s background-color ease-in, 0.2s color ease-in;
            background-color: $white;
            color: #222;
            text-decoration: none;
            cursor: pointer;
        }

        &:focus {
            box-shadow: 0px 0px 0px 2px #000,0px 0px 0px 5px $orange;
        }

        @include media-breakpoint-up(md) {
            margin-right: 32px;
        }

        &.active {
            background-color: $white;
            color: #222;    
            transition: 0s background-color ease-in;
        }
    
    }

    .button {
        max-width: none;
    }

    #deptFilterText {
        text-transform: uppercase;
    }

    .card-body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $primary_gray;
        padding-top: 20px;
        
        .filter {
            width: 100%;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

}