.footer {

  .full-divider {
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }

  &-content {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }



    &-logo {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        max-width: 100%;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
      }
      .text {
        text-transform: uppercase;
        color: $white;
      }
    }

    &-links {
      // display: none;
      padding: 1rem 10px;
      @include media-breakpoint-up(lg) {
        display: inline-block;
        padding: 1rem;
      }
    }
  }

  .menu-footer-menu-container > ul li a {
    list-style-type: none;
  }
  #site-navigation ul li {
    list-style: none;
  }
  .nav-menu {
    display: flex;
    list-style-type: none;

    &:before {
      display: none;
    }

    li:last-child a:after {
      content: "";
      margin: 0 10px;
      display: none;
    }

    .menu-item {
      color: $white;
      display: block;
      position: relative;

      a {
        text-transform: uppercase;
        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
      }

      a:after {
        content: "|";
        margin: 0 .4rem;
      }

      &:before {
        display: none;
        text-transform: "uppercase";
      }
    }
  }
}
