.header {
  background: rgb(17,17,17);
  background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(51,51,51,1) 100%);
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;

  li {
    list-style: none;
  }
}

.header-container{
  max-width: 1700px;
}

.logo-col {
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: space-between;
  }
}

.header-logo {
  padding: 20px;
  display: inline-block;
  img {
    max-width: 220px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 240px;
    display: block;
  }
  @include media-breakpoint-up(xl) {
    padding: 10px 20px 0;
    img {
      max-width: 290px;
    }
  } 
}

.mobile-menu-btn {
  color: $white;
  display: inline-block;
  font-size: 16px;
  position: relative;
  padding: 0 40px;

  .fa-bars,
  .fa-times {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s opacity ease-in;
  }

  .fa-times {
    opacity: 0;
  }

  &.active {
    .fa-bars {
      opacity: 0;
      transition: 0.2s opacity ease-in;
    }
    .fa-times {
      opacity: 1;
      transition: 0.2s opacity ease-in;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 32px;
    height: 32px;
    background-color: $white;
    outline: 1px solid $white;
    outline-offset: 4px;
    opacity: 0.16;
    transition: 0.4s opacity ease-in, 0.4s outline ease-in,  0.4s background-color ease-in;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.header {
  .header-nav-container {
    @include media-breakpoint-down(sm) {
      position: relative;
      display: block;
      flex: unset;
      max-width: unset;
    }
  }

  .nav-menu {
    padding: 30px 0;
  }

  .menu-item {
    color: $white;
    display: block;
    position: relative;
    margin: 0 0 60px;

    @include media-breakpoint-up(md) {
      margin: 0;
    }

    &:before {
      content: none;
    }

    a {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.4s color ease-in;
      padding: 30px 20px 30px 55px;
  
      &:hover {
        text-decoration: none;
      }

      &:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 50%;
        width: 34px;
        height: 34px;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translateY(-65%);
        border: 1px solid $white;
        opacity: 0.16;
        transition: 0.4s border ease-in;
        padding: 10px;
      }
    
      &:after {
        content: '';
        position: absolute;
        left: 22px;
        top: 40%;
        width: 7px;
        height: 7px;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        background-color: $primary;
        outline: 1px solid $primary;
        outline-offset: 1px;
        opacity: 0;
        transition: 0.4s opacity ease-in;
      }
    
      @include media-breakpoint-only(md) {
        padding: 30px 20px 30px;
        &:after {
          content: none;
        }
        &:before {
          content: none;
        }
      }

      @include media-breakpoint-up(md) {
        padding: 30px 20px 30px 55px;
        &:before {
          left: -5px;
        }
        &:after {
          left: 33px;
        }
      }
    }

    @include media-breakpoint-up(md) {
      display: inline-block;
    }

    &.current_page_item {
      a {
        color: #DA8824;
        transition: 0.4s color ease-in;
        &:after {
          opacity: 1;
          transition: 0.4s opacity ease-in;
        }
        &:before {
          border: 1px solid #DA8824;
          transition: 0.4s border ease-in;
        }
      }
    }
  
    &:hover,
    &:focus,
    &:active {
      a {
        color: #DA8824;
        transition: 0.4s color ease-in;
        &:after {
          opacity: 1;
          transition: 0.4s opacity ease-in;
        }
        &:before {
          border: 1px solid #DA8824;
          transition: 0.4s border ease-in;
        }
      }
    }
  }
}


.header-nav {
  background: transparent linear-gradient(181deg, #222222 0%, #111111 100%) 0% 0% no-repeat padding-box;
  text-align: left;
  position: absolute;
  top: 0;
  height: 100vw;
  left: 0;
  z-index: 1;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s opacity ease-in;
  padding: 20px 40px 0;

  &.nav-open {
    @include media-breakpoint-down(sm) {
      pointer-events: all;
      opacity: 1;
      transition: 0.2s opacity ease-in;
    }
  }

  @include media-breakpoint-up(md) {
    background: none;
    pointer-events: all;
    position: relative;
    text-align: right;
    right: 0;
    padding: 0;
    height: auto;
    width: auto;
    opacity: 1;
  }
}

