.shapeshifter-modal {
    max-width: 100%;
    padding: 1.4rem 1.2rem;
    border: 8px solid $white;
    border-radius: 5px;
    background: #222;

    .header {
        max-width: max-content;
        min-width: 20rem;
        background: $white;
        text-decoration: none;
        position: absolute;
        top: -3.3rem;
        left: 0;

        .title,
        .date {
            margin: 0;
            color: #222;
        }

        .title {
            // letter-spacing: .3px;
        }
        .date {
            font-weight: 300;
        }
    }



    .cta {
        display: inline-block;
        min-width: 11rem;
        height: 2.4rem;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        z-index: 2;
        background-color: $white;
        color: #222;
        text-decoration: none;
    }

    .triangle {
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-bottom: 24px solid #FFF;
        border-top: 24px solid transparent;
        position: absolute;
        bottom: 1.6rem;
        right: 1.1rem;
        z-index: 2;
    }

}