.ss-modal {
    max-width: 100%;
    border: 8px solid $white;
    border-radius: 5px;
    background: #222;
    line-height: 19px;
    padding: 0 15px;

    @include media-breakpoint-down(md) {
        // position: absolute;
        // top: 0rem;
        border: 2px solid white;
    }

    .ss-modal-content {
        @include media-breakpoint-up(lg) {
            display: inline;
        }
    }

    &__header {

        background: $white;
        text-decoration: none;


        @include media-breakpoint-up(lg) {
            max-width: max-content;
            min-width: 20rem;
            position: absolute;
            top: -3rem;
            left: 0;
            --notchSize: 32px;
            clip-path: polygon(0px 0px, calc(100% - var(--notchSize)) 0.00%, 100% 100%, 0px 100%);
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            min-width: 0;
            // margin-bottom: 2rem;
            padding-bottom: .4rem;
        }

        &--title,
        &--date {
            margin: 0;
            color: #222;
        }

        &--title {
            @include media-breakpoint-down(md) {
                font-size: 20px
            }

        }
        &--date {
            font-weight: 300;
        }
        
    }
    
    .content {
        // margin-top: 2rem;
        padding: 1rem;

        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }
    }

    .cta {
        display: flex;
        min-width: 11.5rem;
        height: 2.9rem;
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        z-index: 2;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        color: #222;
        text-decoration: none;
        cursor: pointer;
        

        --notchSize: 16px;

        clip-path: polygon(var(--notchSize) 0, 100% 0, 100% 100%, 0 100%);

        @include media-breakpoint-down(md) {
            // margin-top: 1rem;
            // padding-bottom: 1rem;
            // font-size: 24px;
        }

    }

    ul, ol {
      padding-left: 0;
    }

    a {
      color: $green_link;
    }
}

.modal {
    .simple-modal-close {
        position: absolute;
        top: -40px;
        right: 10px;
        color: $white;
        font-size: 20px;
        cursor: pointer;
    }
}