.ss-modal {
    max-width: 100%;
    padding: 1.4rem 1.2rem;
    border: 8px solid $white;
    border-radius: 5px;
    background: #222;

    &__header {
        max-width: max-content;
        min-width: 20rem;
        background: $white;
        text-decoration: none;
        position: absolute;
        top: -3.3rem;
        left: 0;

        --notchSize: 32px;
        
        clip-path: polygon(0px 0px, calc(100% - var(--notchSize)) 0.00%, 100% 100%, 0px 100%);

        &--title,
        &--date {
            margin: 0;
            color: #222;
        }

        &--date {
            font-weight: 300;
        }
    }

    .cta {
        display: inline-block;
        min-width: 11.5rem;
        height: 2.9rem;
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        z-index: 2;
        background-color: $white;
        color: #222;
        text-decoration: none;

        --notchSize: 16px;

        clip-path: polygon(var(--notchSize) 0, 100% 0, 100% 100%, 0 100%);
    }



}