// .page {
//     padding: 
// }

.gradient-background {
    height: auto;
    background: transparent linear-gradient(181deg, #222222 0%, #111111 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
