.project {
  .project-container {
    position: relative;
    min-height: 700px;
    background-size: cover;
    background-position: center;

    .parallax-slide {
      max-height: 700px;
    }

    .project-bg-color {
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        min-height: 550px;
    }
    @include media-breakpoint-up(lg) {
        min-height: 600px;
    }
  }
  .project-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);

    .title {
      margin-top: 3rem;
    }

    .title,
    .subtitle {
      text-align: center;
      span {
        position: relative;
        z-index: 1;
      }
    }

    &:before {
      margin-top: 2rem;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 50px;
      height: 50px;
      background-color: $white;
      outline: 1px solid $white;
      outline-offset: 6px;
      opacity: 0.16;
      transition: 0.4s opacity ease-in, 0.4s outline ease-in,  0.4s background-color ease-in;
    }

    &:hover {
      &:after {
        background-color: $orange;
        outline: 1px solid $orange;
        opacity: 0.5;
        transition: 0.4s opacity ease-in, 0.4s outline ease-in,  0.4s background-color ease-in;
      }
    }
  }

  .project-release-banner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px 40px;
    width: calc(100% - 80px);
    color: $white;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid $white;
    border-radius: 4px;
    text-align: center;

    @include media-breakpoint-up(md) {
        width: auto;
        text-align: left;
    }
  }

  .pagination-buttons {
    .row {
      align-items: center;
    }

    .current-mobile {
      margin-bottom: 2rem;
      .text {
        transform: translateX(-50%);
      }
    }

    .current-desktop,
    .prev,
    .next {
      .text {
        transform: translate(-50%, -50%);
      }
    }
    .current-mobile,
    .current-desktop,
    .prev,
    .next {
      position: relative;
      text-align: center;
      .text {
        position: absolute;
        left: 50%;
        top: 50%;
        text-transform: uppercase;
        text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
      }

      img {
        margin: 0 auto;
      }
    }
  }

  .image-button {
    opacity: 0.5;
  }
}
