.single-project-post {
  .header {
    .menu-item-home {
      a {
        color: #da8824;
        transition: 0.4s color ease-in;
        &:after {
          opacity: 1;
          transition: 0.4s opacity ease-in;
        }
        &:before {
          border: 1px solid #da8824;
          transition: 0.4s border ease-in;
        }
      }
    }
  }
}

.project {
  .content-container {
    position: relative;
  }
  .content-anchor {
    position: absolute;
    top: -100px;
  }
  .project-container {
    position: relative;
    max-height: 700px;
    background-size: cover;
    background-position: center;

    .parallax-slide {
      max-height: 700px;
    }

    .project-bg-color {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      min-height: 550px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 600px;
    }
  }

  .content-row {
    justify-content: space-between;
  }

  .project-description {
    padding: 1.5rem 1rem;

    @include media-breakpoint-up(lg) {
      padding-right: 2rem;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 4rem;
    }
  }

  .project-specs {
    padding: 1.5rem 1rem;

    @include media-breakpoint-up(lg) {
      padding-left: 2rem;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 4rem;
    }
  }

  .project-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);

    .title {
      margin-top: 3rem;
    }

    .title,
    .subtitle {
      text-align: center;
      span {
        position: relative;
        z-index: 1;
        font-weight: 100;
      }
    }

    &:before {
      margin-top: 2rem;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 50px;
      height: 50px;
      background-color: $white;
      outline: 1px solid $white;
      outline-offset: 8px;
      opacity: 0.16;
      box-shadow: none;
      transition: 0.3s opacity ease-in,  0.2s box-shadow ease-in-out;
    }

    &:hover {
      &:after {
        box-shadow: 0 0 40px 20px rgba($white, 0.8);
        opacity: 1;
        transition: 0.3s opacity ease-in,  0.2s box-shadow ease-in-out;
      }
    }
  }

  .project-release-banner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px 40px;
    width: calc(100% - 80px);
    color: $white;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid $white;
    border-radius: 4px;
    text-align: center;
    transition: 0.2s background-color, 0.2s color;

    @include media-breakpoint-up(md) {
      width: auto;
      text-align: left;
    }

    &:hover {
      background-color: $white;
      color: $gray-800;
      transition: 0.2s background-color, 0.2s color;
    }
    .icon {
      padding-right: 10px;
    }
  }

  .project-next-scroll {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 40px 40px;
    width: calc(100% - 80px);
    color: $white;
    text-transform: uppercase;
    padding: 12px 20px;
    text-align: center;
    transition: 0.1s color ease-in;
    font-size: 18px;

    .icon {
        padding-left: 10px;
        transition: 0.1s transform ease-in;
    }
    @include media-breakpoint-up(md) {
        width: auto;
        text-align: left;
    }

    &:hover {
        color: $orange;
        transition: 0.2s color ease-in;

        .icon {
            transition: 0.2s transform ease-in;
            transform: translateY(3px);
        }
    }
  }

  .project-gallery {
    margin: 2rem 0;
    padding: 3rem 0;
  }

  .pagination-buttons {
    margin: 2rem 0;
    padding-top: 4rem;
    padding-bottom: 3rem;

    .project-pagination {
      position: relative;
      text-align: center;
      padding: 0 0.5rem;

      .label {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
        text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
        transition: left .3s ease-out;

        .icon {
          color: $white;
          font-size: 1rem;
        }

        .text {
          font-size: 1rem;
          margin-bottom: 0;
          transition: transform .3s ease-out;
        }
      }
    }

    .current-mobile {
      margin-bottom: 2rem;

      .image-button {
        max-height: 7.25rem;
        height: 7.25rem;
      }
    }

  }

  .image-button {
    max-height: 70px;
    height: 70px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    transition: transform .3s ease-out;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      transition: inherit;
    }
    .overlay {
      width: 100%;
      height: 100%;
      transition: background-color 0.3s;
      position: relative;
      z-index: 1;
    }

    .static-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(#222, 0.6);
      position: relative;
      z-index: 1;
    }

    &:hover {
      &:before {
        transform: scale(1.05);
      }
      .overlay {
        background-color: rgba(#222, 0.5);

        .prev-label {
          .text {
            transform: translateX(-0.5rem);
          }
        }

        .next-label {
          .text {
            transform: translateX(0.5rem);
          }
        }

      }
    }

    @include media-breakpoint-up(sm) {
      max-height: 5rem;
      height: 5rem;
    }

    @include media-breakpoint-up(md) {
      max-height: 6.5rem;
      height: 6.5rem;
    }

  }

  .video-el {
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;

    div:first-of-type {
      padding: 0 !important;
      position: static !important;
    }

    iframe {
      height: 56.25vw !important;
      left: 50% !important;
      min-height: 100% !important;
      min-width: 100% !important;
      transform: translate(-50%, -50%) !important;
      position: absolute !important;
      top: 50% !important;
      width: 177.77777778vh !important;
    }
  }

  .software-container {
    margin: 0;

    .icon-wrapper {
      margin-top: 0.5rem;
      
      .software-icon {
        width: 42px;
        height: 42px;
        margin-right: 1rem;
        padding: 3px;
        border-radius: 5px;
        background: #666;
      }
    }
  }
}

.image-modal {
  box-shadow: 2px 4px 7px #00000026;
  border: 3px solid #ffffff;
  border-radius: 3px;
  height: auto;

  .image-modal-content {
    width: 100%;
  }

  .image-modal-close {
    display: flex;
    min-width: 8rem;
    height: 1.4rem;
    padding: 0.6rem;
    position: absolute;
    top: -0.2px;
    right: 0rem;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    background-color: $white;
    color: #222;
    text-decoration: none;
    cursor: pointer;

    --notchSize: 10px;

    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--notchSize) 100%);

    .icon {
      font-size: 14px;
    }
  }

  &-content {
    width: 100%;
    height: 100%;
  }
}
