.home {
    .project-container {
        position: relative;
        min-height: 80vh;
        background-size: cover;
        background-position: center;

        .project-anchor {
            position: absolute;
            top: -105px;
        }

        .project-bg-color {
            background-color: rgba(0,0,0,0.6);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            min-height: 70vh;
        }
        @include media-breakpoint-up(lg) {
            min-height: 80vh;
        }
    }

    .project-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        text-shadow: 0px 3px 10px rgba(0,0,0,0.8);

        span {
            position: relative;
            z-index: 1;
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 50px;
            height: 50px;
            background-color: $white;
            outline: 1px solid $white;
            outline-offset: 6px;
            opacity: 0.16;
            box-shadow: none;
            transition: 0.3s opacity ease-in,  0.2s box-shadow ease-in-out;
        }

        &:hover {
            &:before {
                box-shadow: 0 0 40px 20px rgba($white, 0.8);
                opacity: 1;
                transition: 0.3s opacity ease-in,  0.2s box-shadow ease-in-out;
            }
        }
    }

    .project-release-banner {
        position: absolute;
        top: 0;
        left: 0;
        margin: 40px 40px;
        width: calc(100% - 80px);
        color: $white;
        text-transform: uppercase;
        padding: 12px 20px;
        border: 1px solid $white;
        border-radius: 4px;
        text-align: center;

        .icon {
            padding-right: 10px;
        }
        @include media-breakpoint-up(md) {
            width: auto;
            text-align: left;
        }
    }

    .project-next-scroll {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 40px 40px;
        width: calc(100% - 80px);
        color: $white;
        text-transform: uppercase;
        padding: 12px 20px;
        text-align: center;
        transition: 0.1s color ease-in;
        font-size: 18px;

        .icon {
            padding-left: 10px;
            transition: 0.1s transform ease-in;
        }
        @include media-breakpoint-up(md) {
            width: auto;
            text-align: left;
        }

        &:hover {
            color: $orange;
            transition: 0.2s color ease-in;

            .icon {
                transition: 0.2s transform ease-in;
                transform: translateY(3px);
            }
        }
    }

    .project-num-squares {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 40px 40px;
        display: none;
        
        .project-square {
            display: inline-block;
            background-color: transparent;
            border: 2px solid $white;
            border-radius: 4px;
            width: 25px;
            height: 25px;
            margin-right: 5px;

            &.active {
                background-color: $white;
            }
        }
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}