.home {
    .project-container {
        position: relative;
        min-height: 700px;
        background-size: cover;
        background-position: center;

        .project-bg-color {
            background-color: rgba(0,0,0,0.6);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            min-height: 650px;
        }
        @include media-breakpoint-up(lg) {
            min-height: 700px;
        }
    }

    .project-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        text-shadow: 0px 3px 10px rgba(0,0,0,0.8);

        span {
            position: relative;
            z-index: 1;
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 50px;
            height: 50px;
            background-color: $white;
            outline: 1px solid $white;
            outline-offset: 6px;
            opacity: 0.16;
            transition: 0.4s opacity ease-in, 0.4s outline ease-in,  0.4s background-color ease-in;
        }

        &:hover {
            &:before {
                background-color: $orange;
                outline: 1px solid $orange;
                opacity: 0.5;
                transition: 0.4s opacity ease-in, 0.4s outline ease-in,  0.4s background-color ease-in;
            }
        }
    }

    .project-release-banner {
        position: absolute;
        top: 0;
        left: 0;
        margin: 40px 40px;
        width: calc(100% - 80px);
        color: $white;
        text-transform: uppercase;
        padding: 12px 20px;
        border: 1px solid $white;
        border-radius: 4px;
        text-align: center;

        .icon {
            padding-right: 10px;
        }
        @include media-breakpoint-up(md) {
            width: auto;
            text-align: left;
        }
    }

    .project-num-squares {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 40px 40px;
        
        .project-square {
            display: inline-block;
            background-color: transparent;
            border: 2px solid $white;
            border-radius: 4px;
            width: 25px;
            height: 25px;
            margin-right: 5px;

            &.active {
                background-color: $white;
            }
        }
    }




    
    .parallax-slide {
        position: relative;
        height: 100vh;
    }
    
    .parallax-clip {
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        /*clip: rect(auto, auto, auto, auto);*/
    }
    
    .fixed-parallax {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        /* -webkit-transform: translateZ(0); /* necessary for iOS! */
    }
    
    
    /* used only as overlay for the images,
       darkens it a little in this case */
    .fixed-parallax:before {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        content: "";
    }
    
    
    /* CSS specific to iOS devices */ 
    @supports (-webkit-overflow-scrolling: touch) {
        .parallax-clip {
            clip: rect(auto, auto, auto, auto);
        }
        .fixed-parallax {
            position: fixed;
            background-attachment: unset;
            -webkit-transform: translateZ(0); /* necessary for iOS! */
        }
    }
}