.jobs {
    .filters {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .posts {
        min-height: 35rem;
    }

    .postings {
        visibility: visible;
        transition: all 3s;
    }
    
    .invisible {
        transition: all 0.3s;
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
    }
}