.jobs {

    .filters {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .posts {
        min-height: 35rem;
    }

    .hidden {
        display: none;
        opacity: 0;
    }

    .fade-in {
        animation: fadeIn ease-in-out .05s;
        -webkit-animation: fadeIn ease-in-out .05s;
        -moz-animation: fadeIn ease-in-out .05s;
        -o-animation: fadeIn ease-in-out .05s;
      }@keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      

    .fade-out {
        animation: fadeOut ease-in-out .05s;
        -webkit-animation: fadeOut ease-in-out .05s;
        -moz-animation: fadeOut ease-in-out .05s;
        -o-animation: fadeOut ease-in-out .05s;

      }@keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-moz-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-webkit-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-o-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }

}