.team-images-container {

    margin-bottom: 6rem;

    img {
        width: 100%;
    }
}

.full-divider {
    margin: 2rem 0;
}

.team-posts {

    .overlay {
        display:none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity = 50); /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 3;
    }

    .team-cards {
        min-height: 30.75rem;
    }

    .team-member {
        @include media-breakpoint-up(lg) {
            margin-right: 1rem;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }
    }

}