.coming-soon.page {
    .content {
        margin: 2% 0;
        text-align: center;
    }
    .logo {
        margin: 0 auto 20px;
        max-width: 120px;
        width: 120px;
        height: 126px;
    }

    p {
        font-size: 36px;
    }

    .banner {
        height: 35rem;
        background-size: contain !important;
        
        @include media-breakpoint-down(md) {
            height: 20rem;
        }
    }
}