.coming-soon.page {
    .content {
        margin: 2% 0;
        text-align: center;
    }
    .logo {
        margin: 0 auto 20px;
        max-width: 120px;
    }

    p {
        font-size: 36px;
    }

    .banner {
        height: 50rem;
        
        @include media-breakpoint-down {
            height: 28rem;
        }
    }
}