.jobs {

    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .modal {
      padding-right: 0;
        .modal-dialog {
          margin-top: 3rem;
          margin-bottom: 3rem;
          @include media-breakpoint-down(md) {
            margin-top: 6rem;
            margin-bottom: 6rem;
          }
      }
    }



    .posts {
        min-height: 35rem;
    }

    .hidden {
        display: none;
    }

    .is-animated {
      animation: .2s fadeIn;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-moz-keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-o-keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .fade-in {
        animation: fadeIn ease-in-out .2s;
        -webkit-animation: fadeIn ease-in-out .2s;
        -moz-animation: fadeIn ease-in-out .2s;
        -o-animation: fadeIn ease-in-out .2s;
      }@keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }

}